<div class="section">
  <div class="container">
    <h2>Confirm Booking</h2>
    <p>Date: {{model.date}}</p>
    <p>Time: {{model.startTime}} - {{model.endTime}}</p>

    {{#link-to 'user-dashboard'}}
      <button class="btn btn--submit">Confirm booking!</button>
    {{/link-to}}

    {{#link-to 'rehearsalspaces'}}
      <button class="btn btn--danger">Back to spaces</button>
    {{/link-to}}
  </div>
</div>
