// BUTTONS

.btn {
  border: none;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background: $c-secondary;
  color: $c-primary;
  font-family: inherit;

  &:active {
    position: relative;
    top: 2px;
    left: 0.5px;
  }

  &:focus {
    outline: none;
  }

  &--center {
    width: inherit;
  }

  &--upload {
    background: $c-true;
    color: $c-secondary;
  }

  &--submit {
    background: $c-primary;
    color: $c-secondary;
  }

  &--danger {
    background: $c-danger;
    color: $c-secondary;
  }

  &--is-full-width {
    width: 100%;
  }

  &--avail {
    background: $c-true;
    color: $c-secondary;
    margin-bottom: $m-gutter / 2;
  }

  &--unavail {
    text-decoration: line-through;
    background: $c-grey;
    color: $c-false;
    margin-bottom: $m-gutter / 2;
  }
}
