// Card Styles
.card {
  box-shadow: $s-basic;
  // display: flex;
  // flex-direction: column;

  &__image {
    // width: 100%;
    height: 15rem;
    overflow: hidden;
    object-fit: contain;

    > img {
      object-fit: contain;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $m-gutter;
  }
}
