// DETAIL ROUTE
.detail {
  display: flex;
  flex-wrap: wrap;


  > * { // allows each section to span to full width when layout wraps
    flex-grow: 1;
  }

  > * + * { // adds uniform amount of margin between info and schedule
    margin-left: $m-gutter * 4;
  }

  &__info {
    flex-basis: 70%;

    > * + * {
      display: flex;
      align-items: flex-start;
      border-top: $b-basic;
      padding-bottom: $m-gutter * 4;


      > * + * {
        margin-left: $m-gutter * 4;
      }
    }
  }


  // BOOKING FORM
  &__schedule {
    flex-basis: calc(30% - #{$m-gutter * 4});

  }
}

// Perks Section -- INFO
.perks-list {
  > * + * {
    margin: $m-gutter 0;
  }
}
