// DETAIL ROUTE
.detail {
  display: flex;
  flex-wrap: wrap;

  > * { // allows each section to span to full width when layout wraps
    flex-grow: 1;
  }

  &__info {
    // display: flex;
    flex-basis: 70%;

    &--item {
      display: flex;
      border-top: $b-basic;
      padding-bottom: $m-gutter * 4;

      > *:nth-child(1) { // selects info section title
        flex-basis: 15%;

      }

      > * + * { // selects actual info
        flex-basis: 85%;
        margin-left: $m-gutter * 2;
      }
    }
  }

  // BOOKING FORM
  &__schedule {
    flex-basis: calc(30% - #{$m-gutter * 4});
    min-width: 10rem;
    margin-left: $m-gutter * 4;
  }
}

// Perks Section -- INFO
.perks-list {
  > * + * {
    margin: $m-gutter 0;
  }
}


@media (max-width: 750px) {
  .detail {
    flex-direction: column;

    &__schedule {
      // margin-left: 0;
      width: 100%;
      margin: 0 auto;
    }

  }
}
