// FORMS

// Sign-Up / Login Form
.card--form {
  max-width: 40rem;
  margin: 0 auto;
  padding: $m-gutter;
}

.form {
  width: 100%;
  margin: 0 auto;
  // max-width: 25rem;

  &__heading {
    text-align: center;

    &--left {
      text-align: left;
    }
  }

  &__control {
    display: block;
    margin: $m-gutter 0;

    > * {
      width: 100%;
      padding: $m-gutter / 2;
      font-size: 1rem;
    }
  }
}

// Date and Time Schedule form
.date-form {

  &__label {
    padding: 0;
  }
}

.date__control {
  margin: 0;
}
