// Forms

.card--form {
  padding: $m-gutter;
  max-width: 40rem;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 25rem;

  &__heading {
    text-align: center;
  }

  &__control {

    margin: $m-gutter 0;
    width: 100%;
    padding: $m-gutter / 2;
    font-size: 1rem;
  }
}

.button {
  background: $c-primary;
  color: $c-secondary;
  border: none;
  border-radius: 0.2rem;
  padding: 0.5rem;
  font-size: 1rem;
}
