// Grid Styles
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -$m-gutter;

  &__item {
    flex-basis: calc(100% / 2 - #{$m-gutter} - #{$m-gutter});
    min-width: 20rem;
    flex-grow: 1;
    margin: $m-gutter;
  }
}
