// HERO styles
.section--hero {
  background: url('http://www.placecera.com/300/500');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: calc(100vh - 4rem); // header is 4rem
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40rem;
  color: $c-secondary;
  box-shadow: $s-basic;
}

.hero {
  &__message {
    text-align: center;
  }
}
