// Layout

.wrapper { // moves content down below fixed navbar
  padding-top: 4rem;
}

.section {
  padding: $m-gutter;

  &__heading {
    margin: $m-gutter * 2;
    text-align: center;
  }
}

.container {
  max-width: 60rem;
  margin: 0 auto;
}
