// Map styles
//
.leaflet-container {
  height: 100%;
  width: 100%;
}

// liquid fire fixes
.liquid-container {
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
}

.liquid-animating .liquid-container {
  will-change: transform;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  transform: translateY(0);
}
