// Styles for the modal components

.ember-modal-dialog.ember-modal-dialog-target-attachment-center.ember-view {
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 25rem;
  margin-top: 0 !important;
  margin-left: 0 !important;
  transform: translate(-50%, -50%);
}
