// Resets

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: lighten($c-grey, 50%);
}

h1, h2, h3, h4, h5, h6 {
  margin: $m-gutter 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}
