.section--slider {
  padding: 0;
  // background: url('https://static.pexels.com/photos/300333/pexels-photo-300333.jpeg') no-repeat center;
  // background-size: cover;
  height: calc(100vh - 3.9rem); // header is 4rem
  height: 33rem;
  box-shadow: $s-basic;
  overflow: hidden;
}


.slider {
  padding: 0;
  height: calc(100vh - 4rem); // header is 4rem
  width: 100vw;
  background: green;

  position: relative;

  &__image {
    object-fit: fill;
    object-position: center;
    height: 100vh;
    width: 100vw;
  }
}

.carousel-container {
  position: relative;
  height: calc(100vh - 4rem); // header is 4rem
  width: 100vw;
}


.control {
  position: absolute;
  top: 0;
  height: calc(100vh - 4rem);
  width: 4rem;

  &-left {
    left: 0;
  }

  &-right {
    right: 0;
  }

  &__icon {
    color: transparent;
    position: absolute;
    top: 50%;
    font-size: 2rem;

    &--left {
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &--right {
      right: 50%;
      transform: translate(50%, -50%);
    }
  }

  &:hover {
    background: rgba(0, 0, 0, 0.75);

    > .control__icon {
      color: $c-secondary;
    }
  }
}
