// Rehearsal Spaces page layout
.section--spaces {
  padding: $m-gutter * 2;
}
.page {
  display: flex;
  justify-content: space-between;
  position: relative;

  &__left {
    position: relative;
    flex-basis: 40%;
  }

  &__right {
    position: fixed;
    top: 0;
    right: 0;
    flex-basis: 60%;
    width: 60%;
    height: 100vh;
    background: blue;
  }
}
