// TOP NAV
.section--top-nav {
  position: fixed;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $c-primary;
  color: $c-secondary;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;

  > * + * {
    margin-left: $m-gutter;
  }
}

.logo {
  margin: 0;
}
