// TOP NAV
.section--top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $c-primary;
  color: $c-secondary;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;

  > * + * {
    margin-left: $m-gutter;
  }

  &__button {
    background: transparent;
    color: $c-secondary;
    border: none;
    font-size: 1rem;
  }
}
