// COLORS
$c-primary: #000;
$c-secondary: #fff;
$-grey: #aaa;

// SHADOWS
$s-basic: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

// MEASUREMENTS
$m-gutter: 1rem;

// FONTS
$f-primary: sans-serif;

// BASE STYLE IMPORTS
@import 'box-sizing'; // apply a natural box layout model to all elements, but allowing components to change
@import 'resets'; // base css resets
@import 'layout'; // section and container styles, modifiers should be placed in page specific files
@import 'grid'; // Base grid styles for displaying multiple cards

// COMPONENT STYLE IMPORTS
@import 'card'; // Base card styles for information
@import 'forms'; // Base form styles for use inside of cards

// PAGE SPECIFIC STYLES
  // Application
  @import 'top-nav'; // styles for top navigation located in 'application route'

  // Index
  @import 'hero'; // styles for hero section in '/'
