// COLORS
$c-primary: #000;
$c-secondary: #fff;
$-grey: #aaa;

// MEASUREMENTS
$m-gutter: 1rem;

// FONTS
$f-primary: sans-serif;

// IMPORTS
@import 'resets';
@import 'layout';
@import 'top-nav';
@import 'hero';

// Card Styles
