// COLORS
$c-primary: #000;
$c-secondary: #fff;
$c-grey: #aaa;
$c-danger: red;
$c-true: #52b650;
$c-false: #666;

// SHADOWS & BORDERS
$s-basic: 0 5px 10px rgba(0, 0, 0, 0.19), 0 1px 6px rgba(0, 0, 0, 0.23);
$b-basic: 0.1rem solid $c-grey;

// MEASUREMENTS
$m-gutter: 1rem;

// FONTS
$f-primary: sans-serif;


// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';

// BASE STYLE IMPORTS
@import 'box-sizing'; // apply a natural box layout model to all elements, but allowing components to change
@import 'resets'; // base css resets
@import 'layout'; // section and container styles, modifiers should be placed in page specific files
@import 'grid'; // Base grid styles for displaying multiple cards
@import 'button'; // base styles for buttons and modified buttons
@import 'modal'; // styles for fixing a bug in the modal

// COMPONENT STYLE IMPORTS
@import 'card'; // Base card styles for information
@import 'forms'; // Base form styles for use inside of cards
@import 'ember-modal-dialog/ember-modal-structure'; // Stylings for Ember Modal Dialog
@import 'ember-modal-dialog/ember-modal-appearance'; // Stylings for Ember Modal Dialog

// PAGE SPECIFIC STYLES
// Application
@import 'top-nav'; // styles for top navigation located in 'application route'

// Index
@import 'hero'; // styles for hero section in '/'

  // Rehearsal Spaces
  @import 'spaces'; // styles for '/rehearsalspaces'
  @import 'map'; // styles for leaflet map

  // Rehersal Spaces - Detail
  @import 'detail'; // styles for '/rehearsalspaces/detail'

  // User Dashboard
  @import 'dashboard'; // styles for '/user-dashboard'



// Working area

// Admin styles
.admin-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}


// Unauthorized Styles
.unAuth {
  text-align: center;
}

.accent {
  color: $c-true;
}
