{{!-- Index Route --}}

{{!-- Hero Section --}}
<div class="section section--hero">
  <div class="container">
    <div class="hero">
      <h2 class="hero__message">Rehearsal Finder is a tool to connect musicians with inspirational environments in which to create.</h2>
    </div>
  </div>
</div>

{{!-- Featured Spaces Section --}}
<div class="section section--featured-spaces">
  <div class="container">

    <div class="featured-spaces">

      <h2 class="section__heading">Browse dozens of spaces in your area</h2>

      {{!-- ITS A GRID, BABY --}}
      <div class="grid">

        <div class="grid__item">
          <div class="card">
            <div class="card__image">
              <img src="http://www.sir-usa.com/location/los-angeles/photos-stage-5/5.jpg" alt="">
            </div>
            <div class="card__info">
              <div class="card__info__left">
                <h3 class="card__info__title">Space Name</h3>
                <h4 class="card__info__location">Nashville, TN</h4>
              </div>

              <div class="card__info__right">
                <h3 class="card__info__price">$20/hr</h3>
              </div>
            </div>
          </div>
        </div>

        <div class="grid__item">
          <div class="card">
            <div class="card__image">
              <img src="http://www.sir-usa.com/location/los-angeles/photos-stage-5/5.jpg" alt="">
            </div>
            <div class="card__info">
              <div class="card__info__left">
                <h3 class="card__info__title">Space Name</h3>
                <h4 class="card__info__location">Nashville, TN</h4>
              </div>

              <div class="card__info__right">
                <h3 class="card__info__price">$20/hr</h3>
              </div>
            </div>
          </div>
        </div>

        <div class="grid__item">
          <div class="card">
            <div class="card__image">
              <img src="http://www.sir-usa.com/location/los-angeles/photos-stage-5/5.jpg" alt="">
            </div>
            <div class="card__info">
              <div class="card__info__left">
                <h3 class="card__info__title">Space Name</h3>
                <h4 class="card__info__location">Nashville, TN</h4>
              </div>

              <div class="card__info__right">
                <h3 class="card__info__price">$20/hr</h3>
              </div>
            </div>
          </div>
        </div>

        <div class="grid__item">
          <div class="card">
            <div class="card__image">
              <img src="http://www.sir-usa.com/location/los-angeles/photos-stage-5/5.jpg" alt="">
            </div>
            <div class="card__info">
              <div class="card__info__left">
                <h3 class="card__info__title">Space Name</h3>
                <h4 class="card__info__location">Nashville, TN</h4>
              </div>

              <div class="card__info__right">
                <h3 class="card__info__price">$20/hr</h3>
              </div>
            </div>
          </div>
        </div>

        <div class="grid__item">
          <div class="card">
            <div class="card__image">
              <img src="http://www.sir-usa.com/location/los-angeles/photos-stage-5/5.jpg" alt="">
            </div>
            <div class="card__info">
              <div class="card__info__left">
                <h3 class="card__info__title">Space Name</h3>
                <h4 class="card__info__location">Nashville, TN</h4>
              </div>

              <div class="card__info__right">
                <h3 class="card__info__price">$20/hr</h3>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


{{!-- Sign Up Form --}}

<div class="section">
  <div class="container">
    <div class="sign-up">
      <h2 class="section__heading">Find your creative space!</h2>
      <div class="card">
        <form>
          <p>
            <input type="text">
          </p>
          <p>
            <input type="text">
          </p>
          <p>
            <input type="text">
          </p>
          <p>
            <input type="text">
          </p>
          <button>Submit</button>
        </form>
      </div>

    </div>
  </div>
</div>
