<div class="section section--top-nav">
  <h1 class="logo">Rehearsal Finder</h1>
  <div class="nav-list">

    {{#link-to 'index' class="nav-list__item"}}Home{{/link-to}}
    {{#link-to 'rehearsalspaces' class="nav-list__item"}}Spaces{{/link-to}}
    {{#if session.isAuthenticated}}
      <button class="btn nav-list__item" {{action "logout"}}>Logout</button>
      {{else}}
      {{#link-to 'login' class="btn nav-list__item"}}Login{{/link-to}}
      {{#link-to 'register' class="btn nav-list__item"}}Sign Up{{/link-to}}
    {{/if}}
  </div>
</div>

<div class="wrapper">
  {{liquid-outlet}}
</div>



{{#if isShowingLoginModal}}
  {{#modal-dialog close="toggleLoginModal"
                  targetAttachment="center"
                  translucentOverlay=true}}
    {{#login-form}}{{/login-form}}
  {{/modal-dialog}}

{{else if isShowingSignupModal}}
  {{#modal-dialog close="toggleSignUpModal"
                  targetAttachment="center"
                  translucentOverlay=true}}
    {{#signup-form}}{{/signup-form}}
  {{/modal-dialog}}
{{/if}}

{{!-- FOOTER --}}
<div class="section">
  <div class="container">

  </div>
</div>
