<div class="section section--top-nav">
  <h1 class="logo">Rehearsal Finder</h1>
  <div class="nav-list">

    {{#link-to 'index' class="nav-list__item"}}Home{{/link-to}}
    {{#link-to 'rehearsalspaces' class="nav-list__item"}}Spaces{{/link-to}}
    {{#link-to 'login' class="nav-list__item"}}Login{{/link-to}}
    {{#link-to 'register' class="nav-list__item"}}Sign Up{{/link-to}}
    {{#if session.isAuthenticated}}
      <button {{action "logout"}}>Logout</button>
    {{/if}}
  </div>
</div>

<div class="wrapper">
  {{outlet}}
</div>



{{!-- FOOTER --}}
<div class="section">
  <div class="container">

  </div>
</div>
