<div class="section section--top-nav">
  <h1 class="logo top-nav__logo">Rehearsal Finder</h1>
  <div class="nav-list">
    <p class="nav-list__item">Home</p>
    <p class="nav-list__item">Spaces</p>
    <p class="nav-list__item">Login</p>
    <p class="nav-list__item">Sign Up</p>
  </div>
</div>

{{outlet}}
