<div class="section section--nav">
  <h1 class="logo nav-logo">Creative Spaces</h1>
  <div class="top-nav">
    <p class="top-nav__item">Home</p>
    <p class="top-nav__item">Spaces</p>
    <p class="top-nav__item">Login</p>
    <p class="top-nav__item">Sign Up</p>
  </div>
</div>

{{outlet}}
