{{!-- REHEARSAL SPACES LIST ROUTE --}}
<div class="page">
  <div class="page__left">
    <div class="section section--spaces">
      <div class="container">
        <div class="grid">

          {{#each model as |space|}}
            <div class="grid__item">
              {{#link-to 'rehearsalspaces.detail' space.id}}
                {{#space-card photo=space.photoUrl name=space.name city=space.city state=space.state costPerHour=space.costPerHour}}{{/space-card}}
              {{/link-to}}
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>

  <div class="page__right">
    {{#leaflet-map lat=lat lng=lng zoom=zoom scrollWheelZoom=false}}
      {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}

      {{#each model as |space|}}
        {{#marker-layer location=space.coordinates}}
            {{#popup-layer}}
              {{#link-to 'rehearsalspaces.detail' space.id}}
                <h3>{{space.name}}</h3>
              {{/link-to}}
              <p>{{space.streetAddress}}</p>
            {{/popup-layer}}
        {{/marker-layer}}
      {{/each}}


    {{/leaflet-map}}
  </div>
</div>
