{{!-- To use this component, use hbs syntax --}}

{{!-- {{yield}} --}}

<div class="card--form">
  <div class="form">
    <h3 class="form__heading">Login</h3>
    <form>
      <p class="form__control">{{input type="text" placeholder="Email"}}</p>
      <p class="form__control">{{input type="text" placeholder="Password"}}</p>
      <button class="btn btn--submit">Submit</button>
    </form>
  </div>
</div>
