{{!-- To use this component, use hbs syntax --}}

{{!-- {{yield}} --}}

<div class="form">
  <h3 class="form__heading">Login</h3>
  <form>
    {{input class="form__control" placeholder="Email" type="text"}}
    {{input class="form__control" placeholder="Password" type="password"}}
    <button class="button">Submit</button>
  </form>
</div>
