<h2 class="section__heading">Current Rehearsal Spaces</h2>
<div class="grid">
  {{#each model as |space|}}
    <div class="grid__item">
      {{#link-to 'admin.edit' space.id}}
        {{#space-card  name=space.name streetAddress=space.streetAddress city=space.city state=space.state costPerHour=space.costPerHour}}{{/space-card}}
      {{/link-to}}
    </div>
  {{/each}}
</div>
