{{outlet}}

<div class="card--form">
  <div class="form">
    <h3 class="form__heading">Login</h3>
    {{#with (changeset model) as |changeset|}}
      <form>
        <p class="form__control">
          <input type="text" value={{changeset.email}} placeholder="Email">
        </p>
        <p class="form__control">
          <input type="text" value={{changeset.password}} placeholder="Password">
        </p>
        <button class="btn btn--submit">Submit</button>
      </form>
    {{/with}}

    {{log changeset}}
  </div>
</div>
