{{!-- To use this component, use hbs syntax --}}

{{!-- {{yield}} --}}

<div class="grid__item">
  <div class="card">
    <div class="card__image">
      <img src="http://www.sir-usa.com/location/los-angeles/photos-stage-5/5.jpg" alt="">
    </div>
    <div class="card__info">
      <div class="card__info__left">
        <h3 class="card__info__title">Space Name</h3>
        <h4 class="card__info__location">Nashville, TN</h4>
      </div>

      <div class="card__info__right">
        <h3 class="card__info__price">$20/hr</h3>
      </div>
    </div>
  </div>
</div>
