{{!-- REHEARSAL SPACE DETAIL ROUTE --}}
{{!-- Hero / Slider --}}
<div class="section section--hero">
  <div class="container">
    <div class="hero slider">
      {{!-- This is gonna be an image carousel or something slidey with different pics! --}}
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="detail">

      <div class="detail__info">
        <div class="detail__info--heading">
          <h3>Space Name</h3>
          <h4>Area - Location</h4>
        </div>

        <div class="detail__info--space">
          <h3>The Space</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit ad eos praesentium aperiam, maiores sed aliquam repudiandae. Ullam, atque doloremque perspiciatis dolor quia. Distinctio, illo. Quasi blanditiis ipsam eaque, harum.</p>
        </div>

        <div class=" detail__info--rules">
          <h3>Rules</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit ad eos praesentium aperiam, maiores sed aliquam repudiandae. Ullam, atque doloremque perspiciatis dolor quia. Distinctio, illo. Quasi blanditiis ipsam eaque, harum.</p>
        </div>

        <div class="detail__info--space">
          <h3>Rules</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit ad eos praesentium aperiam, maiores sed aliquam repudiandae. Ullam, atque doloremque perspiciatis dolor quia. Distinctio, illo. Quasi blanditiis ipsam eaque, harum.</p>
        </div>
      </div>

      <div class="detail__schedule">
        <div class="detail__schedule--heading">
          <h2>Book it for $25/hr</h2>
        </div>

        <div class="detail__schedule--date">
          <input type="date">
        </div>

      </div>
    </div>


  </div>
</div>
