<h3 class="form__heading">Edit {{model.name}}</h3>

{{#link-to 'admin.edit.index' model.id}}
  <button class="btn btn--submit">{{model.name}} Home</button>
{{/link-to}}
{{#link-to 'admin.edit.availabilities' model.id}}
  <button class="btn btn--submit">Add availability</button>
{{/link-to}}
{{#link-to 'admin.edit.edit' model.id}}
  <button class="btn btn--submit">Edit</button>
{{/link-to}}
{{#link-to 'admin.edit.delete' model.id}}
  <button class="btn btn--danger">Delete</button>
{{/link-to}}

{{outlet}}
