<div class="card--form">
  <div class="form">
    <h2 class="section__heading" >Are you sure want to delete this space?</h2>
    <p>This cannot be undone.</p>
    <button class="btn btn--danger" {{action "deleteSpace"}}><span class="fa fa-times"></span>Delete {{model.name}}</button>
  </div>
</div>
