{{!-- USER DASHBOARD MAIN ROUTE --}}
<div class="section dashboard">
  <div class="container">

    {{!-- SideBar --}}
    <div class="dashboard__sidebar">

      {{!-- User Profile Card --}}
      <div class="card">
        <div class="card__info">
          <div class="card__info__alone">
            <img src="http://placecage.com/200/200" alt="">
            <h3>Name</h3>
            <h4>615-123-4567</h4>
            <h4>youremail@email.com</h4>
            <button class="btn btn--submit">Update Info</button>
          </div>
        </div>
      </div>

    </div>

    {{!-- DASHBOARD CONTENT --}}
    <div class="dashboard__content">

      <div class="card">

      </div>

    </div>


  </div>
</div>
